.burger {
    display: none;
    top: 30px;
    right: 20px;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50px;
    @media screen and (max-width: 1022px){
    }
  }
  
  .burger:before,
  .burger:after,
  .burger div {
    background: black;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  .burger_active:before {
    transform: translateY(12px) rotate(135deg);
  }
  .burger_active:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  .burger_active div {
    transform: scale(0);
  }